* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --orange: #ff7925;
  --background: #1b1926;
}

::-webkit-scrollbar {
  display: none;
}
.line {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: white;
}
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #fff;
}
p {
  font-family: "Lato", sans-serif;
}
html {
  height: -webkit-fill-available;
  max-height: 100%;
}
body {
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  height: -webkit-fill-available;
  max-height: 100%;
}
body::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, transparent, #ff792515);
  position: absolute;
  z-index: -5;
}
.container {
  width: auto;
  height: auto;
}
/* !navbar start */
.logo {
  width: 40px;
}
header {
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: var(--background);
  border-bottom: 3px solid var(--background);

  z-index: 200;
  box-shadow: 0px 5px 22px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 22px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 22px -12px rgba(0, 0, 0, 0.75);
}
header .container {
  height: 100%;
  align-items: center;
}
.nav_bar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav_bar * {
  font-family: "Lato", sans-serif;

  list-style-type: none;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s;
  font-weight: bold;
}
.nav_bar a:hover {
  color: var(--orange);
}
.nav_bar a:hover span {
  color: black !important;
}
.nav_bar i {
  color: gold;
  transition: 0.3s;
}
.nav_icon > a {
  padding: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}
.nav_lists {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_lists ul {
  display: flex;
  gap: 0.8rem;
  font-size: 1rem;
}

.hamburger {
  right: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 100;
  cursor: pointer;
  padding-bottom: 5px;
  width: 40px;
  height: 40px;
}

.hamburger .hamburger_bar {
  position: relative;
  display: none;
  width: 25px;
  height: 3px;
  background-color: white;
}
.hamburger_bar::before,
.hamburger_bar::after {
  content: "";
  position: absolute;
  display: flex;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.hamburger_bar::before {
  bottom: 7px;
  width: 25px;
  height: 3px;
}
.hamburger_bar::after {
  top: 7px;
  width: 25px;
  height: 3px;
}
.hamactive::before {
  bottom: 0px !important;
}
.hamactive::after {
  top: 0px;
}
/* !navbar end */

/* !home start */
.homesec {
  display: flex;
  padding-top: 60px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100%;
}
.home {
  display: flex;
  gap: 1rem;
}
.home-text {
  display: flex;
  flex: 1;
  flex-basis: 50%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}
.home-text-1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.3rem;
}
.home-img {
  display: flex;
  flex: 1;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-img::before {
  content: "";
  background-color: var(--orange);
  border-radius: 20px;
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: -2;
}
.home-img::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background-color: black;
  z-index: -1;
}
.home-img > img {
  max-width: 70%;
  max-height: 70%;
}
p {
  text-align: justify;
  color: white;
  font-weight: 600;
}
p:nth-child(3) {
  font-weight: normal;
  padding-left: 1rem;
}

h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: var(--orange);
  font-size: 3rem;
}
.aboutsecbtn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s all;
  background-color: white;
}
.aboutsecbtn::before {
  content: "";
  position: absolute;

  border-radius: 50%;
  outline: 3px solid white;

  width: 90%;
  height: 90%;
  border: 0;
  z-index: -3;
  transition: 0.3s all ease-in-out;
}
.aboutsecbtn::after {
  content: "";
  position: absolute;
  background-color: orange;
  width: 50%;
  height: 50%;
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 50%, 50% 100%, 0 50%);

  z-index: 0;
  transition: 0.3s;
}
.aboutsecbtn:hover::before {
  outline: 3px solid var(--orange);
  padding: 10px;
}
.aboutsecbtn:active::before {
  padding: 0px;
}

/* !home end */

/* !About start */
.aboutsec {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0 3rem;
  padding-top: 5rem;
}
.aboutsec .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block {
  min-width: 15rem;
  width: 33%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #2E2D3A;
  padding: 1rem;
  flex-wrap: wrap;
  border-radius: 1rem;
  margin-bottom: 2rem;

}
.block .block-img {
  height: 50%;
}
.block .block-text {
  gap: 1rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.block-text h3 {
  color: var(--orange);
}
.block-img img {
  width: 100%;
  height: 100%;
}
/* !About end */
/* !button start*/

button {
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--orange);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff8f4b;
}

button:active {
  background-color: #e66e1c;
}

button {
  font-family: "Lato", sans-serif;
}
.btn-1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-1:hover {
  background-color: #45a049;
}

.btn-1:active {
  background-color: #3d8f3d;
}

.btn-2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-2:hover {
  background-color: #0056b3;
}

.btn-2:active {
  background-color: #003d80;
}

/* !button end*/

/* !Desktop */
@media only screen and (min-width: 1441px) {
  .container {
    margin: 0 4rem;
  }
}
/* !Laptop L */
@media only screen and (min-width: 1025px) and (max-width: 1441px) {
  .container {
    margin: 0 3rem;
  }
}
/* !Laptop */
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .container {
    margin: 0 2.5rem;
  }
  .home-img > img {
    max-width: 70%;
    max-height: 70%;
  }
  .block-text h3 {
    font-size: 1.3rem;
  }
  .aboutsec .container {
    flex-wrap: wrap;
  }
}
/* !Tablet */
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .container {
    margin: 0 2rem;
  }
  .home-img > img {
    max-width: 70%;
    max-height: 70%;
  }
  .home-img::before {
    height: 80%;
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  .block {
    width: 49%;
    height: 30rem;
    margin-bottom: 2rem;
  }
  .block-text h3 {
    font-size: 1.3rem;
  }
}
/* !Mobile */
@media only screen and (max-width: 426px) {
  .container {
    margin: 0 1rem;
  }
  header .container {
    margin: 0 1rem;
  }
  .nav_bar .nav_lists .active {
    width: 100vw !important;
  }
  .home-text {
    order: 2;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.8rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
  }
  .home-text-1 {
    justify-content: center;
    align-content: center;
  }
  .homesec {
    padding-top: 0;
    padding-bottom: 3rem;
  }
  p {
    font-weight: bold;
    text-align: center;
  }
  p:nth-child(3) {
    padding: 0;
    font-weight: normal;
  }
  .home {
    padding-top: 5rem;
    flex-direction: column;
    gap: 2rem;
  }
  .home-img {
    order: 1;
  }
  .home-img::before {
    width: 70%;
    height: 100%;
    padding: 0.8rem;
  }
  .home-img > img {
    width: 60%;
  }
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .nav_lists ul {
    height: 100vh !important;
    width: 0 !important;
    transition: 0.3s !important;
  }
  .nav_bar .nav_lists .active {
    width: 100vw !important;
    height: 100vh !important;
  }
  .aboutsec {

    padding: 0 2rem;
    padding-top: 5rem;
  }
  .aboutsecbtn {
    bottom: 1rem;
    width: 40px;
    height: 40px;
    font-size: 1.7rem;
  }
  .aboutsec .container {
    margin: 0;
  }
  .block {
    width: 100%;
    margin-bottom: 2rem;
  }
  .block p {
    text-align: start;
  }
  .block-text h3 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 769px) {
  .hamburger {
    display: flex;
  }

  .hamburger .hamburger_bar {
    display: flex;
  }

  .nav_lists ul {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    background-color: var(--background);
    border: none;
    border-left: 2px solid black;
    box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
  }

  .nav_bar .nav_lists .active {
    padding: 2rem 0 2rem 0 !important;
    width: 50vw;
    height: 100vh;
    border-left: 2px solid black;
  }
  .nav_bar .nav_lists .active li {
    display: flex;
  }
  .nav_bar .nav_lists .active li > a {
    font-size: 1.1rem;
    color: white;
    transition: 0.3s;
  }
  .nav_bar .nav_lists .active li > a:hover {
    color: var(--orange);
    font-size: 1.7rem;
  }
}
