* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --orange: #FF7925;
  --background: #1B1926;
}
h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--orange);
}
p {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #fff;
}
/* !navbar start */
.logo {
  width: 40px;
}
header {
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: #fff;

  z-index: 200;
  
}
header .container {
  height: 100%;
  align-items: center;
}
.nav_bar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav_bar * {
  font-family: 'Lato', sans-serif;

  list-style-type: none;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all 0.2s;
  font-weight: bold;
}
.nav_bar a:hover {
  color: var(--orange);
}
.nav_bar a:hover span {
  color: black !important;
}
.nav_bar i {
  color: gold;
  transition: 0.3s;
}
.nav_icon > a {
  
  font-size: 1.3rem;
  font-weight: bold;
}
.nav_lists {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_lists ul {
  display: flex;
  gap: 0.8rem;
  font-size: 1rem;
}

.hamburger {
  right: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 100;
  cursor: pointer;
  padding-bottom: 5px;
}

.hamburger .hamburger_bar {
  position: relative;
  display: none;
  width: 25px;
  height: 3px;
  background-color: black;
}
.hamburger_bar::before,
.hamburger_bar::after {
  content: "";
  position: absolute;
  display: flex;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
.hamburger_bar::before {
  bottom: 7px;
  width: 25px;
  height: 3px;
}
.hamburger_bar::after {
  top: 7px;
  width: 25px;
  height: 3px;
}
.hamactive::before {
  bottom: 0px !important;
}
.hamactive::after {
  top: 0px;
}
/* !navbar end */

/* !home start */
h1 {
  padding-top: 60px;

}
/* !home end */

/* !button start*/
button {
  font-family: 'Lato', sans-serif;
}
.btn-1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-1:hover {
  background-color: #45a049;
}

.btn-1:active {
  background-color: #3d8f3d;
}

.btn-2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-2:hover {
  background-color: #0056b3;
}

.btn-2:active {
  background-color: #003d80;
}

/* !button end*/

@media only screen and (min-width: 1441px){
  .container {
    margin: 0 4rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1441px) {
  .container {
    margin: 0 3rem;
  }


}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .container {
    margin: 0 2.5rem;
  }

}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .container {
    margin: 0 2rem;
  }
  
}
@media only screen and (max-width: 426px) {
  .container {
    margin: 0;
  }
  header .container {
    margin: 0 1rem;
  }
  .nav_bar .nav_lists .active {
    width: 100vw !important;
  }

}
@media only screen and (max-width: 769px) {
  .hamburger {
    display: flex;
  }

  .hamburger .hamburger_bar {
    display: flex;
  }

  .nav_lists ul {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    background-color: white;
    border: none;
    border-left: 2px solid black;

  }

  .nav_bar .nav_lists .active {
    padding: 2rem 0 2rem 0 !important;
    width: 50vw;
    height: 100vh;
    border-left: 2px solid black;

  }
  .nav_bar .nav_lists .active li {
    display: flex;
  }
  .nav_bar .nav_lists .active li > a {
    font-size: 1.1rem;
    color: black;
    transition: 0.3s;
  }
  .nav_bar .nav_lists .active li > a:hover {
    color: red;
    font-size: 1.7rem;
  }

}
